qui-est-qui.lepgu.fr {
    handle /api/* {
        reverse_proxy back:8080
    }
    handle /ws/* {
        reverse_proxy back:8080
    }
    handle {
        reverse_proxy front:80
    }
}

api.qui-est-qui.lepgu.fr {
    reverse_proxy back:8080
}

auth.qui-est-qui.lepgu.fr {
    reverse_proxy keycloak:8080
}

s3.qui-est-qui.lepgu.fr {
    reverse_proxy minio:9000
}
